<div id="edit-customer-dialog" style="display:none" >
<form id="edit-customer-form" method="post" class="mws-form" action='{% url editcustomer %}'>
    {% csrf_token %}
       <div class="mws-form-inline">

            <input type="text" name='custid' id='editcustid' style="display:none; width:220px;"/>

            <div class="mws-form-row">
                <label class="mws-form-label">公司名称：</label>
                <div class="mws-form-item large">
                    <input type="text" name='custcompany' id='editcustcompany' style="width:220px;"/>
                        <div class="error-messages">
                        </div>
                </div>
            </div>

            <div class="mws-form-row">
                <label class="mws-form-label">公司地址:</label>
                <div class="mws-form-item large">
                    <input type="text" id='editaddress' name='address' style="width:240px;"/>
                        <div class="error-messages">
                        </div>
                </div>
            </div>


            <div class="mws-form-row">
                <label class="mws-form-label">联系人:</label>
                <div class="mws-form-item large">
                    <input type="text" id='editlinkman' name='linkman' style="width:100px;"/>
                        <div class="error-messages">
                        </div>
                </div>
            </div>



            
            <div class="mws-form-row">
                <label class="mws-form-label">城市:</label>
                <div class="mws-form-item large">
                    <input type="text" id='editcity' name='city' style="width:100px;"/>
                </div>

            </div>

            <div class="mws-form-row">
                <label class="mws-form-label">地区:</label>
                <div class="mws-form-item large">
                    <input type="text" id='editregion' name='region' style="width:100px;"/>
                        <div class="error-messages">
                        </div>
                </div>
            </div>

            <div class="mws-form-row">
                <label class="mws-form-label">邮编:</label>
                <div class="mws-form-item large">
                    <input type="text" id='editzipcode' name='zipcode' style="width:100px;"/>
                        <div class="error-messages">
                        </div>
                </div>
            </div>

            <div class="mws-form-row">
                <label class="mws-form-label">电话:</label>
                <div class="mws-form-item large">
                    <input type="text" id='edittel' name='tel' style="width:120px;"/>
                        <div class="error-messages">
                        </div>
                </div>
            </div>

            <div class="mws-form-row">
                <label class="mws-form-label">传真:</label>
                <div class="mws-form-item large">
                    <input type="text" id='editfax' name='fax' style="width:120px;"/>
                        <div class="error-messages">
                        </div>
                </div>
            </div>

            <div class="mws-form-row">
                <label class="mws-form-label">公司网页:</label>
                <div class="mws-form-item large">
                    <input type="text" id='edithomepage' name='homepage' style="width:240px;"/>
                        <div class="error-messages">
                        </div>
                </div>
            </div>


            <div class="mws-form-row">
                <label class="mws-form-label">备注信息：</label>
                <div class="mws-form-item large">
                    <textarea id='editmessage' name="message" rows="3" style='width:240px; height:80px' warp="virtual" ></textarea>
                    <div class="error-messages">
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
