<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->

{% include "include.html" %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="/static/plugins/datatables/extra/TableTools.css" media="screen"/>
{% endblock %}
<body>

    {% include "header.html" %}
    <!-- Start Main Wrapper -->
    <div id="mws-wrapper">
    
        {% include "leftmenu.html" %}
        <!-- Main Container Start -->
        <div id="mws-container" class="clearfix">
            <br/>
            <!-- Inner Container Start -->
            <div class="container">
                
                {% if success %}
                    <div id='success' class="mws-form-message success">
                        您已经{{successinfo}}成功!
                    </div>
                {% endif %}
                <div class="mws-panel grid_8" style="margin-bottom:0px">
                    <div class="mws-panel-header">
                        <span><i class="icon-magic"></i>产品管理</span>
                    </div>
                    <div class="mws-panel-body no-padding">

                        <!--
                        <table class="mws-datatable-fn mws-table" name="students" id="students" style="text-align:center;">
                            -->
                        <table class="mws-datatable-fn mws-table" name="products" id="products" style="text-align:center;">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>产品名称</th>
                                    <th>型号</th>
                                    <th>单位</th>
                                    <th>备注信息</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                    </div>
                </div>

            {% include "product/addproduct.html" %}
            {% include "product/editproduct.html" %}
            {% include "product/deleteproduct.html" %}
            {% include "product/select.html" %}

                <!-- Panels End -->
            </div>
            <!-- Inner Container End -->
                       
            <!-- Footer -->
            <div id="mws-footer">
                Made by cyh. All Rights Reserved.
            </div>
            
        </div>
        <!-- Main Container End -->
        
    </div>
    
    {% include "footer.html" %}
    <script type="text/javascript" src="/static/plugins/datatables/extra/TableTools.js"></script>
    <script type="text/javascript" src="/static/plugins/datatables/extra/ZeroClipboard.js"></script>
</body>
</html>
