<div id="sale-select-customer-dialog" style="display:none">
    <div class="mws-form-message error" style="display:none; text-align:center;">
        请先选择一行！
    </div>

    <table class="mws-datatable-fn mws-table" name="selectcustomers" id="selectcustomers" style="text-align:center;">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>公司名称</th>
                                    <th>联系人</th>
                                    <th>公司地址</th>
                                    <th>城市</th>
                                    <th>区域</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
</div>
