<div id="sale-select-product-dialog" style="display:none">
    <div class="mws-form-message error" style="display:none; text-align:center;">
        请先选择一行！
    </div>

    <table class="mws-datatable-fn mws-table" name="selectproducts" id="selectproducts" style="text-align:center;">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>产品名称</th>
                                    <th>型号</th>
                                    <th>单位</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
</div>
